node_modules/

/out/
/fonts

.DS_Store

/*.js
*.map
*.d.ts

/docs.zh.json
/docs.en.json

/i18n/untranslateds.json
/i18n/stats.json

/.vscode/settings.json
/.vscode/launch.json

/dolphindb-datasource.*.zip
/grafana.plugin.*.zip
