.query-editor-nav-bar
    margin-bottom: 8px
    margin-top: 8px

.query-editor
    .resizable
        > div:first-child
            height: 100%
        
        .monaco-editor
            .line-numbers
                color: #888888
            
            .active-line-number.line-numbers
                color: #444444
    
    .editor-tip
        color: #888888

.streaming-editor-content
    button
        margin-top: 8px
        
    
.query-editor-content-none
    display: none


.variable-query-editor
    .query-bottom
        margin-top: 16px
        margin-bottom: 16px
        
        display: flex
        
        align-items: center
        
        .note
            flex: 1
            
            font-size: 13px
            
            color: #24292e
            
        
        .status
            justify-content: right
            
            display: flex
            
            align-items: center
            
            margin-right: 16px
            
            transition: opacity 0.2s cubic-bezier(0.4, 0.0, 0.2, 1)
            
            opacity: 0
            
            user-select: none
            
            &.visible
                opacity: 1
            
            .icon
                margin-right: 4px
                margin-top: 1px
                
            
        .button
            justify-content: right
            
.theme-dark .variable-query-editor .query-bottom
    .note, .status
        color: #ccccdc
    
.version
    color: #aaaaaa
    margin-top: 20px
